<p>phone-book works!</p>
<div>
    <input type="text" placeholder="Enter Name" id="name" name="name" [(ngModel)]="newContactName" required>
</div>          
<div>
  <input type="text" placeholder="Enter Phone" id="number" name = "number" [(ngModel)]="newContactNumber" required>
</div>
<div>
    <button type="button" (click)="addPhoneBook()">Save changes</button>
</div>

<div *ngIf = "updateContactDetails">
    <input type="text" name="name" [(ngModel)]="updateContactDetails.name">
    <input type="text" name ="number" [(ngModel)]="updateContactDetails.number">
</div>

<div>           
    <table>
      <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Action</th>
      </tr>
      <tr *ngFor = "let phonebook of phonebooks; let i=index">
          <td>{{phonebook.name}}</td>
          <td>{{phonebook.number}}</td>
          <td> 
              <span><button type="button" [class.selected] = "phonebook === updateContactDetails"
                (click)="updatePhoneBook(phonebook)" >Edit</button></span>
              <span><button (click)="deletePhoneBook(i)">Delete</button></span>
          </td>
      </tr>
    </table>             
</div>

